
/*


▒█▀▀█ ░▀░ ▀▀█▀▀ ░▀░ █▀▀ █░░█ ▒█▀▀█ █▀▀█ █▀▀▄ █▀▀▀ █▀▀ 
▒█░▄▄ ▀█▀ ░░█░░ ▀█▀ █▀▀ █▄▄█ ▒█▀▀▄ █▄▄█ █░░█ █░▀█ █▀▀ 
▒█▄▄█ ▀▀▀ ░░▀░░ ▀▀▀ ▀░░ ▄▄▄█ ▒█▄▄█ ▀░░▀ ▀▀▀░ ▀▀▀▀ ▀▀▀

#*************************************
# Developed and engineered by 
# Felipe Alfonso Gonzalez <f.alfonso@res-ear.ch>
# Computer Science Engineer
# Chile
#*************************************

*/



body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  .container {
    display: flex;
    justify-content: flex-start;  
  }
  
  .github-widget {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-details {
    text-align: left;
  }
  
  .profile-details h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .profile-details p {
    margin: 5px 0;
  }
  
  #bio {
    font-style: italic;
    color: #666;
  }
  
  .github-logo {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    opacity: 0.7;
  }
  